body{
    background-color: #ffff99;
}
h1{
  font-family: 'Monoton', cursive;
  font-size: 68px;
  color: #ff4da6;
}

h2{
  font-family: 'Gloria Hallelujah', cursive;
  color: #ff884d;
  font-size:40px;
}
